<p id="notice"><%= notice %></p>
<%= content_for :title, "Atrakcje przemysłowe Japonii - strona główna" %>

<nav class="navbar navbar-default navbar-fixed-top">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Rozwiń nawigację</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>

    </button>

      <%= link_to root_path do %>
          <%= image_tag('logo.png', alt: "Atrakcje przemysłowe Japonii - logo",
                        class: "navbar-brand") %>
      <% end %>


  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", static_page_home_path %><span class="sr-only">
          (current)</span></li>
      <li><%= link_to "Wycieczki po fabrykach", static_page_trips_path %></li>

      <li><%= link_to "Muzea techniczne", static_page_museums_path %></li>
      <li><%= link_to "Targi technologiczne", static_page_fairs_path %></li>
      <li><%= link_to "Wskazówki dla podróżnych", static_page_tips_path %></li>
      <li><%= link_to "Wyszukiwarka atrakcji", static_page_search_path %></li>

    </ul>

  </div>

</nav>

<div class="fill">
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("muzeum-miraikan.jpg", alt: "Wnętrze muzeum Miraikan - zdjęcie", class: "") %>
        <div class="container">
          <div class="carousel-caption">
            <div class="">
              <h1><strong>Atrakcje japońskiego przemysłu</strong> </h1>
              <p class="lead">Wyszukaj ciekawe miejsca, do których możesz się udać!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("fabryka-wnetrze.jpg", alt: "Wnętrze fabryki - zdjęcie", class: "") %>

        <div class="container">
          <div class="carousel-caption">
            <div class="">
              <h1><strong>Atrakcje japońskiego przemysłu</strong> </h1>
              <p class="lead">Wyszukaj ciekawe miejsca, do których możesz się udać!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("Momofuku Ando Instant Rameen.jpg", alt: "Muzeum Momofuku Ando Instant Ramen - zdjęcie", class: "") %>

        <div class="container">
          <div class="carousel-caption">
            <div class="">
              <h1><strong>Atrakcje japońskiego przemysłu</strong> </h1>
              <p class="lead">Wyszukaj ciekawe miejsca, do których możesz się udać!</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.carousel-inner -->

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="pos">
  <div class="social-likes social-likes_single" data-counters="no" data-single-title="Share">
    <div class="facebook" title="Share link on Facebook">Facebook</div>
    <div class="twitter" title="Share link on Twitter">Twitter</div>
    <div class="plusone" title="Share link on Google+">Google+</div>
  </div></div>
</div>
<!-- /.carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>



